body {
    background-color: #3F4140;
    font-family: 'Montserrat', sans-serif;
}

.mycontainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.catalogue {
    width: 100%;
    height: 100%;
}

.myimg {
    height: 120px;
    margin-top: 10px;
}

.contactus {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus a {
    margin-top: 5px;
    color: #7EBB34;
    text-decoration: none;
}

.pdf-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.pdf-link:hover, .contactus a:hover {
    text-decoration: underline;
}

.pdf-link img {
    width: 22px;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .pdf-link {
        font-size: 12px;
    }
    .pdf-link img {
        width: 12px;
        margin-right: 10px;
    }
    .myimg {
        height: 80px;
    }
    .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}